<!-- ----------------------------------------------------------------------- -->
<!-- COMPONENT-LIFECYCLE -->
<!-- <a id="top"></a>
<h1>Lifecycle Hooks</h1>
<ul>
  <li>
    <a href="#hooks">Peek-a-boo: (most) lifecycle hooks</a>
  </li>
  <li>
    <a href="#spy">Spy: directive with OnInit & OnDestroy</a>
  </li>
  <li>
    <a href="#onchanges">OnChanges</a>
  </li>
  <li>
    <a href="#docheck">DoCheck</a>
  </li>
  <li>
    <a href="#after-view">AfterViewInit & AfterViewChecked</a>
  </li>
  <li>
    <a href="#after-content">AfterContentInit & AfterContentChecked</a>
  </li>
  <li>
    <a href="#counter">Counter: OnChanges + Spy directive</a>
  </li>
</ul>

<a id="hooks"></a>
<peek-a-boo-parent></peek-a-boo-parent>
<a href="#top">back to top</a>
<hr />

<a id="spy"></a>
<spy-parent></spy-parent>
<a href="#top">back to top</a>
<hr />

<a id="onchanges"></a>
<on-changes-parent></on-changes-parent>
<a href="#top">back to top</a>
<hr />

<a id="docheck"></a>
<do-check-parent></do-check-parent>
<a href="#top">back to top</a>
<hr />

<a id="after-view"></a>
<after-view-parent></after-view-parent>
<a href="#top">back to top</a>
<hr />

<a id="after-content"></a>
<after-content-parent></after-content-parent>
<a href="#top">back to top</a>
<hr />

<a id="counter"></a>
<counter-parent></counter-parent>
<a href="#top">back to top</a> -->
<!-- COMPONENT-LIFECYCLE -->
<!-- ----------------------------------------------------------------------- -->

<!-- ----------------------------------------------------------------------- -->
<!-- COMPONENT-INTERACTION -->
<!-- <h1 id="top">Component Communication Cookbook</h1>

<a href="#parent-to-child"
  >Pass data from parent to child with input binding ("Heroes")</a
><br />
<a href="#parent-to-child-setter"
  >Intercept input property changes with a setter ("Master")</a
><br />
<a href="#parent-to-child-on-changes"
  >Intercept input property changes with <i>ngOnChanges</i> ("Source code
  version")</a
><br />
<a href="#child-to-parent"
  >Parent listens for child event ("Colonize Universe")</a
><br />
<a href="#parent-to-child-local-var"
  >Parent to child via <i>local variable</i>("Countdown to Liftoff")</a
><br />
<a href="#parent-to-view-child"
  >Parent calls <i>ViewChild</i>("Countdown to Liftoff")</a
><br />
<a href="#bidirectional-service"
  >Parent and children communicate via a service ("Mission Control")</a
><br />

<div id="parent-to-child">
  <app-hero-parent></app-hero-parent>
</div>
<a href="#top" class="to-top">Back to Top</a>

<hr />
<div id="parent-to-child-setter">
  <app-name-parent></app-name-parent>
</div>
<a href="#top" class="to-top">Back to Top</a>

<hr />
<div id="parent-to-child-on-changes">
  <app-version-parent></app-version-parent>
</div>
<a href="#top" class="to-top">Back to Top</a>

<hr />
<div id="child-to-parent">
  <app-vote-taker></app-vote-taker>
</div>
<a href="#top" class="to-top">Back to Top</a>

<hr />
<div id="parent-to-child-local-var">
  <app-countdown-parent-lv></app-countdown-parent-lv>
</div>
<a href="#top" class="to-top">Back to Top</a>

<hr />
<div id="parent-to-view-child">
  <app-countdown-parent-vc></app-countdown-parent-vc>
</div>
<a href="#top" class="to-top">Back to Top</a>

<hr />
<div id="bidirectional-service">
  <app-mission-control></app-mission-control>
</div>
<a href="#top" class="to-top">Back to Top</a> -->
<!-- COMPONENT-INTERACTION -->
<!-- ----------------------------------------------------------------------- -->

<!-- ----------------------------------------------------------------------- -->
<!-- COMPONENT-STYLE -->
<!-- <app-hero-style></app-hero-style> -->
<!-- COMPONENT-STYLE -->
<!-- ----------------------------------------------------------------------- -->

<!-- ----------------------------------------------------------------------- -->
<!-- COMPONENT-DIRECTIVE -->
<!-- <h1>Inputs and Outputs</h1>

<app-item-detail [item]="currentItem"></app-item-detail>
<hr />

<app-item-output (newItemEvent)="addItem($event)"></app-item-output>
<h3>Parent component receiving value via @Output()</h3>

<ul>
  <li *ngFor="let item of items">{{ item }}</li>
</ul>

<hr />

<h2>Input and Output together</h2>
<p>Open the console to see the EventEmitter at work when you click Delete.</p>

<app-input-output [item]="currentItem" (deleteRequest)="crossOffItem($event)">
</app-input-output>

<hr />

<h2>Input and Output in the component class metadata</h2>
<p>Open the console to see the EventEmitter at work when you click Buy.</p>

<app-in-the-metadata
  [clearanceItem]="lastChanceItem"
  (buyEvent)="buyClearanceItem($event)"
>
</app-in-the-metadata>

<hr />

<h2>Aliasing Inputs and Outputs</h2>
<p>
  See aliasing.component.ts for aliases and the console for the EventEmitter
  console logs.
</p>

<app-aliasing
  [saveForLaterItem]="currentItem"
  [wishListItem]="currentItem"
  (saveForLaterEvent)="saveForLater($event)"
  (wishEvent)="addToWishList($event)"
>
</app-aliasing>

<h2>Wishlist:</h2>
<ul>
  <li *ngFor="let wish of wishlist">{{ wish }}</li>
</ul> -->
<!-- COMPONENT-DIRECTIVE -->
<!-- ----------------------------------------------------------------------- -->

<!-- ----------------------------------------------------------------------- -->
<!-- CONTENT-PROJECTION -->
<!-- <h2>Angular and Content Projection</h2>

<app-zippy-basic>
  <p>Is content projection cool?</p>
</app-zippy-basic>

<hr />

<app-zippy-multislot>
  <p question>Is content projection cool?</p>
  <p>Let's learn about content projection!</p>
</app-zippy-multislot>

<hr />

<h2>Here's a zippy</h2>

<app-example-zippy>
  <button appExampleZippyToggle>Is content project cool?</button>
  <ng-template appExampleZippyContent>
    It depends on what you do with it.
  </ng-template>
</app-example-zippy>

<hr />
<app-zippy-ngprojectas>
  <p>Let's learn about content projection!</p>
  <ng-container ngProjectAs="[question]">
    <p>Is content projection cool?</p>
  </ng-container>
</app-zippy-ngprojectas> -->
<!-- CONTENT-PROJECTION -->
<!-- ----------------------------------------------------------------------- -->

<!-- ----------------------------------------------------------------------- -->
<!-- DYNAMIC-COMPONENT -->
<app-ad-banner [ads]="ads"></app-ad-banner>
<!-- DYNAMIC-COMPONENT -->
<!-- ----------------------------------------------------------------------- -->
